---
title: The FRP landscape
date: 2016-08-20
tags: javascript, functional programming, libraries, fp, monads, frp
author: Roberto M. Oliva
---

%p
  Each passing day I am more convinced that Functional programming is the way to go:
  %ul
    %li Pure functions
    %li Declarative programming
    %li Monad types
    %li etc

%p
  As an analist and developer I continuosly try to reach the same horizon: Better valuable code for my client. This pretty sentence can be translated to the following:
  %ul
    %li Easier to include advanced functionality and UI
    %li More tested code
    %li Easier to read amd mantain
    %li Easier to refactor and improve
    %li etc

%p
  Functional programming has proved to help get those targets in better conditions.

%p
  There are a new breed of tools, named Functional Reactive Programming (FRP), that tries to deal the asynchronous JavaScript nature with a Functional approach. I am going to use this post as a directory for those tools.

READMORE

%h2 Functional Libraries

%ul
  %li
    %a{:href => 'http://ramdajs.com/'} Ramda
  %li
    %a{:href => 'https://github.com/lodash/lodash/wiki/FP-Guide'} Lodash FP
  %li
    %a{:href => 'http://danieltao.com/lazy.js/'} Lazy JS
  %li
    %a{:href => 'http://functionaljs.com/'} Function JS

%h2 Monads

%ul
  %li
    %a{:href => 'https://github.com/ramda/ramda-fantasy'} Ramda Fantasy
  %li
    %a{:href => 'https://github.com/ramda/ramda-fantasy'} Monet JS
  %li
    %a{:href => 'https://github.com/folktale'} Folktale

%h2 FRP Libraries

%ul
  %li
    %a{:href => 'https://github.com/Reactive-Extensions/RxJS'} RxJS
  %li
    %a{:href => 'https://baconjs.github.io/'} BaconJS
  %li
    %a{:href => 'https://github.com/cujojs/most'} MostJS
  %li
    %a{:href => 'http://highlandjs.org/'} Highland
  %li
    %a{:href => 'https://rpominov.github.io/kefir/'} Kefir
  %li
    %a{:href => 'https://github.com/staltz/xstream'} XStream
  %li
    %a{:href => 'https://github.com/paldepind/flyd'} Flyd

%h2 FRP framworks

%ul
  %li
    %a{:href => 'http://cycle.js.org/'} Cycle JS
  %li
    %a{:href => 'https://github.com/tsers-js/core/'} TSERS JS
  %li
    %a{:href => 'https://github.com/calmm-js'} Calm^2 JS

%p
  As you can see in the following link:
  %a{:href => "https://github.com/xgrommx/awesome-functional-programming"} Awesome Functional programming
  There are many, many more.
  %br
  I will put in this blog my experiences with some of this libraries.
