---
layout: about
title: About
directory_index: false
---

= content_for :body do
  .ui.two.column.middle.aligned.stackable.grid.text.container
    .column
      With more than 20 years working as a developer I consider myself a long distance developer.
      %br
      This is my blog where I will try to put my most interesting technological experiences...
    .aligned.wide.column
      %img{:class => 'ui small circular image floated right', :src=>'/images/photo.png'}

  .ui.four.column.stackable.grid.container
    .column
      %h2 Languages
      .ui.list.bulleted
        .item JavaScript, Typescript
        .item Ruby
        .item C/C++
        .item PHP
        .item C#
        .item Visual Basic and Visual Basic.Net
        .item ...

    .column
      %h2 Projects
      .ui.list.bulleted
        .item Network distributed application to control humidity from copper samples.
        .item Laboratory control application for quality measurement.
        .item Complete ERP for a nutrition company.
        .item Adaptative learning tool with advanced activities
        .item Academic and psicopedagogical tool to control schools activities
        .item Sales force mobile application
        .item Distributed service for massive notification delivery
        .item ...

    .column
      %h2 Tools
      .ui.list.bulleted
        .item Linux, git, etc
        .item MySql, MS SQL Server, etc
        .item MongoDB, Cassandra, CouchDB, etc
        .item RoR, REST, Sinatra, Rack, etc
        .item TDD, CI, Scrum, etc
        .item RxJS, Ramda, ReactJS, Flux, CycleJS, etc
        .item ....

    .column
      %h2 Roles
      .ui.list.bulleted
        .item CTO on Intersoft and LCIberica
        .item Project manager
        .item Lead programer
        .item Turnkey projects as a freelance
        .item ....

  .ui.one.column.stackable.grid.container
    .column
